img{
    height:2rem;
}

._navbar{
    height: 60px;
}

.navbar-nav  ._navlink{
    font-size: 14px;
    color: red ;
    text-decoration: none;
    margin-top: 10px;
    
    
}

._dash{
    color: red ;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;  
}