._padination{
    position: fixed;
    bottom: 4rem;
}

._addtocartbtn{
    background-color:#f14d54 ;
    color:white;
    height:40px ;
    padding:0 15px; 
    border-radius: 8px;
    /* position: absolute; */
    /* padding: 1rem; */
}
.book-card{
    padding: 0px;
}

p{
    font-size: 15px;
}

.product-img{
    height: 200px;
    width: 200px;
    padding-top: 0px;
     border-top-left-radius:8px ;
     border-top-right-radius: 8px;
}
.book-card-title{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
}

.card-style{
    border-radius: 8px;
    /* box-shadow: 5px  0px 0px -2px rgb(218, 218, 218); */
}
.book-display-container{
    width:80%;
}